{% extends 'layout.html' %}

{% block content  %}

<main class="container" role="main">

<h1 class="text-center"> Comparing YTD Stock Returns</h1>
<canvas id="chartCanvas" width="400" height="200"></canvas>
<form method="POST", action="" class="form-group">
    {{ form.hidden_tag() }}
{{ form.ticker1.label }} {{ form.ticker1 }} <br>
{{ form.ticker2.label }} {{ form.ticker2 }} <br>
    {{ form.start.label }} {{ form.start }} <br>
    {{ form.end.label }} {{ form.end }}

    <div class = "form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script>

const ctx = document.getElementById('chartCanvas').getContext('2d');
const data = {
            labels : [{% for item in stock_dates_custom(form.ticker1.data, form.start.data, form.end.data) %}
               new Date("{{ item }}"),
              {% endfor %}],
            datasets: [{
                fill: false,
                label: "{{ form.ticker1.data }}",
                data: [{% for item in stock_price_custom(form.ticker1.data,form.start.data, form.end.data) %}
                "{{ item }}", // Why do I need the comma here?? Huh
                {% endfor %}],
                borderColor: '#fe8b36',
                backgroundColor: '#fe8b36',
                lineTension: 0,
                pointRadius: 0.5
              },
            {
                fill: false,
                label: "{{ form.ticker2.data }}",
                data: [{% for item in stock_price_custom(form.ticker2.data, form.start.data, form.end.data) %}
                "{{ item }}", // Why do I need the comma here?? Huh
                {% endfor %}],
                borderColor: '#0f4c75',
                backgroundColor: '#0f4c75',
                lineTension: 0,
                pointRadius: 0.5
              }
            ]
          }
const options = {
    type: 'line',
    data: data,
    options: {
        fill: false,
        responsive: true,
        title: {
            display: true,
            text: "{{ form.ticker1.data }}" + " vs " + "{{ form.ticker2.data }}",
            fontSize: 24
        },
        scales: {
            xAxes: [{
              time: {
                unit: "month"// Use this to adjust x labels
              },
                type: 'time',
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Date",
                },
              ticks: {
                source: 'data'
              }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Ticker Price"
                }
            }]
        }
    }
}
const chart = new Chart(ctx, options);
</script>
</main>

{% endblock content %}