{% extends 'layout.html' %}

{% block content  %}
<h2 class='text-center font-less-bold'>2008 Financial Crisis</h2>
<p class='text-center'>From a high on October 9th, 2007, the S&P 500 fell 56% before bottoming out on March 8th, 2009. Based on latest price estimates, your portfolio is worth <span class='font-bold'>{{calculations['startTotalPortfolioValue']}} </span>. If we experienced a similar market decline, your portfolio would drop <span class='color-red font-bold'>{{calculations['totalExpectedReturn']}}% </span>, for a new portfolio value of <span class='font-bold'>{{calculations['endTotalPortfolioValue']}}</span>. In order to return to your previous portfolio value of <span class='font-bold'>{{calculations['startTotalPortfolioValue']}}</span>, your portfolio would need to return <span class='font-bold'>{{calculations['requiredReturn']}}%</span>. Based on the 2008 Financial Crisis recover, you would return to previous values on or around <span class='font-bold'>{{calculations['recoveryDate']}}</span> (approximately <span>{{calculations['daysToRecover']}} </span> days). </p>

<p> Click <a href= '/disclaimer'> here</a> for our disclaimer</p>

{% endblock content %}