{% extends 'layout.html' %}

{% block content  %}
<h3 class='text-center font-less-bold'>Wonder how your portfolio would fare against a major recession?</h3>
<h5 class='text-center text-muted font-less-bold'>Input your holdings and see how it stacks up against historical market downturns!</h5>
<div class='container my-container'>
  <div>
    <div class="row justify-content-center my-row">
      <div class="col-4 my-col ">
        <p class='font-xxlarge text-center'>Ticker Symbol</p>
      </div>
      <div class="col-4 my-col ">
        <p class='font-xxlarge text-center'>Shares</p>
      </div>
      <div class='col-2 my-col'>

      </div>
    </div>
  </div>

  <form method='POST'>
    {{form.csrf_token}}
    <div id='subforms-container'>
      {% for portfolio_entry in form.holdings %}
        <div id="holding-{{loop.index0}}-form" class="subform form-row justify-content-center my-row" data-index="{{loop.index0}}">
          {{portfolio_entry.csrf_token}}
          <div class ="form-group col-4 my-col">
          <!--{{portfolio_entry.ticker.label}}--> {{portfolio_entry.ticker(class='form-control')}}
          </div>
          <div class = "form-group col-4 my-col">
          <!--{{portfolio_entry.shares.label}}--> {{portfolio_entry.shares(class='form-control')}}
          </div>
          <button type='button' class='remove form-control col-2 btn btn-primary my-col'>Remove Holding</button>
          <!--<a class="remove" href="#">Remove Holding</a>-->
        </div>
      {% endfor %}
    </div>
    <div class="form-row">
      <div class='form-group col-2 offset-1'>
        {{form.submit(class='btn btn-primary')}}
      </div>
      <div class='form-group col-2'>
        <button type='button' class='btn btn-primary' id='add'>Add Holding</button>
      </div>

    </div>
  </form>
</div>
<!--<a class = "row justify-content-center" id="add" href="#">Add Holding</a>-->


<div id="holding-_-form" class="is-hidden form-row justify-content-center" data-index="_">
  <input id = "holdings-_-csrf_token" name = "holdings-_-csrf_token" type="hidden" value="">
  <!--<label for="holdings-_-ticker">Ticker Symbol</label><-->
  <div class="form-group col-4">
  <input class='form-control'id="holdings-_-ticker" name="holdings-_-ticker" type="text" value="">
  </div>
  <!--<label for="holdings-_-shares"></label>-->
  <div class='form-group col-4'>
  <input class='form-control' id="holdings-_-shares" name="holdings-_-shares" type="text">
  </div>
  <!--<input type='button' class='remove form-group col-sm-1 btn btn-primary' value='Remove Holding'>-->

  <button type='button' class='remove form-control col-2 btn btn-primary my-col' value='Remove Holding'>Remove Holding</button>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
  function adjustIndices(removedIndex) {
    var $forms = $('.subform');

    $forms.each(function(i) {
        var $form = $(this);
        var index = parseInt($form.data('index'));
        var newIndex = index - 1;

        if (index < removedIndex) {
            // Skip
            return true;
        }

        // Change ID in form itself
        $form.attr('id', $form.attr('id').replace(index, newIndex));
        $form.data('index', newIndex);

        // Change IDs in form inputs
        $form.find('input').each(function(j) {
            var $item = $(this);
            $item.attr('id', $item.attr('id').replace(index, newIndex));
            $item.attr('name', $item.attr('name').replace(index, newIndex));
        });
    });
};
function removeForm() {
    var $removedForm = $(this).closest('.subform');
    var removedIndex = parseInt($removedForm.data('index'));

    $removedForm.remove();

    // Update indices
    adjustIndices(removedIndex);
};
function addForm() {
    var $templateForm = $('#holding-_-form');

    if (!$templateForm) {
        console.log('[ERROR] Cannot find template');
        return;
    }

    // Get Last index
    var $lastForm = $('.subform').last();

    var newIndex = 0;

    if ($lastForm.length > 0) {
        newIndex = parseInt($lastForm.data('index')) + 1;
    }

    // Maximum of 20 subforms
    if (newIndex > 20) {
        console.log('[WARNING] Reached maximum number of elements');
        return;
    }

    // Add elements
    var $newForm = $templateForm.clone();

    $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
    $newForm.data('index', newIndex);

    $newForm.find('input').each(function(idx) {
        var $item = $(this);

        $item.attr('id', $item.attr('id').replace('_', newIndex));
        $item.attr('name', $item.attr('name').replace('_', newIndex));
    });

    // Append
    $('#subforms-container').append($newForm);
    $newForm.addClass('subform');
    $newForm.find('input').first().attr('value', $('form').children().first().attr('value'))
    $newForm.removeClass('is-hidden');

    $newForm.find('.remove').click(removeForm);
};
  $(document).ready(function() {
                $('#add').click(addForm);
                $('.remove').click(removeForm);
            });

</script>
{% endblock content %}
