body {
  background:#fafafa;
  color: #333333;
  margin-top: 5rem;
}

.bg-lightblue {
    color: blueviolet;
}

/*
.form-control {
    width: 30%;
}

 */

.reduced-width {
    width: 30%;
}
.is-hidden {
    display:none;
}

/* Check this out! Can override bootstrap defaults by naming them in your main.css file.